<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="newznabCleanup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <newznabCleanup.Properties.Settings>
            <setting name="db_host" serializeAs="String">
                <value/>
            </setting>
            <setting name="db_user" serializeAs="String">
                <value/>
            </setting>
            <setting name="db_pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>newznab</value>
            </setting>
            <setting name="AutoRarPar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NationalGeographic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneNZB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZeroMatches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCorrect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCorrectScore" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="AutoRemove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRemoveScore" serializeAs="String">
                <value>40</value>
            </setting>
        </newznabCleanup.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
